# Node & Apps
node_modules/
dist/
dist-ssr/
*.local

# Environment Variables
.env
.env.production
.env.development

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env/

# ML Models (if they are large, though these are small, it's good practice)
ml_service/models/*.pkl
ml/models/*.pkl
ml/ml/models/*.h5
ml/data/csv/
ml/data/parquet/


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db
